<h3>Color - 2 variation </h3>
    {%- liquid
        assign color_four = section.settings.color_four
        assign color_four_hex = color_four | color_to_hex
        -%}
    <div class="color-variation-container">
        <div class="color-box" style="background-color:{{- color_four_hex | color_lighten: 40 -}} ;">
            <h5>Lighten +40</h5>
            <h4 class="color-name" >{{- color_four_hex | color_lighten: 40 -}}</h4>
        </div>
        <div class="color-box" style="background-color:{{- color_four_hex | color_lighten: 30 -}} ;">
            <h5>Lighten +30</h5>
            <h4 class="color-name" >{{- color_four_hex | color_lighten: 30 -}}</h4>
        </div>
        
        <div class="color-box" style="background-color:{{- color_four_hex | color_lighten: 20 -}} ;">
            <h5>Lighten +20</h5>
            <h4 class="color-name" >{{- color_four_hex | color_lighten: 20 -}}</h4>
        </div>
        
        <div class="color-box" style="background-color:{{- color_four_hex | color_lighten: 10 -}} ;">
            <h5>Lighten +10</h5>
            <h4 class="color-name" >{{- color_four_hex -}}</h4>
        </div>
        <div class="color-box" style="background-color: {{- color_four_hex -}};">
            <h5 class="font-white">Original</h5>
            <h4 class="color-name font-white" >{{- color_four_hex -}}</h4>
        </div>
        <div class="color-box" style="background-color: {{- color_four_hex | color_darken: 10 -}};">
            <h5 class="font-white">Darken +10 </h5>
            <h4 class="color-name font-white">{{- color_four_hex | color_darken: 10 -}}</h4>
        </div>
        <div class="color-box" style="background-color: {{- color_four_hex | color_darken: 20 -}};">
            <h5 class="font-white">Darken +20 </h5>
            <h4 class="color-name font-white">{{- color_four_hex | color_darken: 20 -}}</h4>
        </div>
        <div class="color-box" style="background-color: {{- color_four_hex | color_darken: 30 -}};">
            <h5 class="font-white">Darken +30 </h5>
            <h4 class="color-name font-white">{{- color_four_hex | color_darken: 30 -}}</h4>
        </div>
        <div class="color-box" style="background-color: {{- color_four_hex | color_darken: 40 -}};">
            <h5 class="font-white">Darken +40 </h5>
            <h4 class="color-name font-white">{{- color_four_hex | color_darken: 40 -}}</h4>
        </div>
    </div>