<footer class="footer">
  <div class="container">
    {% comment %} Newsletter {% endcomment %}
    <h2>{{ 'general.newsletter.heading' | t }}</h2>
    <div class="footer-newsletter">
      {%- form 'customer' -%}
        <div>

      
        <label for="NewsletterEmail--{{ section.id }}">{{ 'general.newsletter.email' | t }}</label>
        <input
          id="NewsletterEmail--{{ section.id }}"
          type="email"
          name="contact[email]"
          value="{{ form.email }}"
          aria-required="true"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="email"
          required
          {% if form.errors %}
            autofocus
            aria-invalid="true"
            aria-describedby="NewsletterError--{{ section.id }}"
          {% elsif form.posted_successfully? %}
            aria-describedby="NewsletterSuccess--{{ section.id }}"
          {% endif %}
        >
        {%- if form.errors -%}
          <small id="NewsletterError--{{ section.id }}" class="message-error">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
        {%- elsif form.posted_successfully? -%}
          <small id="NewsletterSuccess--{{ section.id }}" class="message-success" tabindex="-1" autofocus>{{ 'general.newsletter.success' | t }}</small>
        {%- endif -%}  
        </div>
        <div>
          <input type="hidden" name="contact[tags]" value="newsletter">
          <button type="submit">{{ 'general.newsletter.subscribe' | t }}</button>
        </div>
      {%- endform -%}
    </div>


    <div class="footer-links-container">      
      {% for block in section.blocks %}  
        <div>
          <h4>{{- block.settings.title -}}</h4>
          <ul>
            {% for link in block.settings.menu.links %}
            <li><a href="{{- link.url -}}">{{- link.title -}}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>




      {% comment %} Country selector {% endcomment %}

      {%- if localization.available_countries.size > 1 -%}
      {%- form 'localization' -%}
      <div class="footer-country-selector-container">
          <div>

            <label for="CountryList--{{ section.id }}">{{ 'general.localization.country.label' | t }}</label>
            <select name="country_code" id="CountryList--{{ section.id }}">
              {%- for country in localization.available_countries -%}
              <option
              value="{{ country.iso_code }}"
              {%- if country.iso_code == localization.country.iso_code %} selected{% endif -%}
              >
              {{ 'general.localization.country.option_label' | t: name: country.name, currency_iso_code: country.currency.iso_code, currency_symbol: country.currency.symbol }}
                </option>
                {%- endfor -%}
              </select>
            </div>
            <button type="submit">{{ 'general.localization.country.update' | t }}</button>
          </div>
            {%- endform -%}
        {%- endif -%}
      
      {% comment %} Language selector {% endcomment %}
      <div class="footer-language-selector-container">
        {%- if localization.available_languages.size > 1 -%}
          {%- form 'localization' -%}
          <div>

            <label for="LanguageList--{{ section.id }}">{{ 'general.localization.language.label' | t }}</label>
            <select name="locale_code" id="LanguageList--{{ section.id }}">
              {%- for language in localization.available_languages -%}
              <option
              value="{{ language.iso_code }}" lang="{{ language.iso_code }}"
              {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}
              >
              {{ language.endonym_name | capitalize }}
            </option>
              {%- endfor -%}
            </select>
          </div>
          <div>
            <button type="submit">{{ 'general.localization.language.update' | t }}</button>
          </div>
            {%- endform -%}
        {%- endif -%}
      </div>
      
      
      
    </div>

  <div class="footer-social-media">
     {% comment %} Social media icons {% endcomment %}
     {% comment %} TODO: Add SVG social media icons (if required) {% endcomment %}
      <ul class="list-unstyled" role="list">
        {%- if settings.social_twitter_link != blank -%}
          <li>
            <a href="{{ settings.social_twitter_link }}">{%- render 'svg-twitter'="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bibi-snapchat" viewBox="0 0 16 16">
              

              %}</a>
          </li>
        {%- endif -%}
        {%- if settings.social_facebook_link != blank -%}
        {%- comment -%}
        <li>
          <a href="{{ settings.social_facebook_link }}">{{ 'general.social.links.facebook' | t }}</a>
        </li>
        {%- endcomment -%}
        <li>
          <a href="{{- settings.social_facebook_link -}}">{%- render 'svg-facebook' -%}</a>
        </li>
        {%- endif -%}
        {%- if settings.social_pinterest_link != blank -%}
          <li>
            <a href="{{ settings.social_pinterest_link }}">{%- render 'svg-pinterest' -%}</a>
          </li>
        {%- endif -%}
        {%- if settings.social_instagram_link != blank -%}
          <li>
            <a href="{{ settings.social_instagram_link }}">{%- render 'svg-instagram' -%}</a>
          </li>
        {%- endif -%}
        {%- if settings.social_tiktok_link != blank -%}
          <li>
            <a href="{{ settings.social_tiktok_link }}">{{ 'general.social.links.tiktok' | t }}</a>
          </li>
        {%- endif -%}
        {%- if settings.social_tumblr_link != blank -%}
          <li>
            <a href="{{ settings.social_tumblr_link }}">{{ 'general.social.links.tumblr' | t }}</a>
          </li>
        {%- endif -%}
        {%- if settings.social_snapchat_link != blank -%}
          <li>
            <a href="{{ settings.social_snapchat_link }}">{%- render 'svg-snapchat' -%}</a>
          </li>
        {%- endif -%}
        {%- if settings.social_youtube_link != blank -%}
          <li>
            <a href="{{ settings.social_youtube_link }}">{%- render 'svg-youtube' -%}</a>
          </li>
        {%- endif -%}
        {%- if settings.social_vimeo_link != blank -%}
          <li>
            <a href="{{ settings.social_vimeo_link }}">{%- render 'svg-vimeo' -%}</a>
          </li>
        {%- endif -%}
      </ul>


  </div>

  <div class="footer-copyright-container">
      {% comment %} Copyright {% endcomment %}
      <p>
        <span>&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</span>
        <span>{{ powered_by_link }}</span>
      </p>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
 "max_blocks": 3,
  "blocks": [
    {
      "type": "footer-link",
      "name": "Footer Link",
      "settings": [
      {
        "type" : "text",
        "id": "title",
        "label" : "Title",
        "default": "Footer Link Title"
        
      },
     {
      "type": "link_list",
      "id": "menu",
      "label": "Footer Links"
     }
     ]
    }
  ]
}
{% endschema %}
