<header class="container mobile-hide">

    <nav class="navigation">

      <a class="logo" href="{{ routes.root_url}}">
       {%- if section.settings.logo != blank -%}
        {{- section.settings.logo | image_url: height: 160 | image_tag: height: 80, alt: section.settings.logo.alt | default: shop.name | escape -}}
        
       {%- else -%}
        <span>{{- shop.name -}}</span>
       {%- endif -%}
      </a>



      <div id="parent-menu" class="parent-menu">
        {%- for parent_link in section.settings.menu.links -%}
          <a href="{{- parent_link.url -}}" id="parent-menu-{{- forloop.index -}}">{{- parent_link.title -}}</a>
        {%- endfor -%}
      </div>
      
      <div class="shopify-icons">
        {%- # Search -%}
        <a href="/search">{% render 'svg-search' %}</a>
        {%- # Login -%}
        <a href="/login">{% render 'svg-account' %}</a>
        {%- # Cart -%}
        <a href="/cart">{% render 'svg-bag' %}</a>
      </div>

        
    </nav>

    <div id="child-menu-container">
      {%- for parent_link in section.settings.menu.links -%}
        <div id="child-menu-index-{{- forloop.index | minus: 1 -}}" class="child-menu" style="display: none">
          <div>
            {%- for child_link in parent_link.links -%}
                <a href="{{- child_link.url -}}">{{- child_link.title -}}</a>
            {%- endfor -%}
          </div>
        </div>        
      {%- endfor -%}
  </div>
  <div id="grandchild-menu-container">
    {%- for parent_link in section.settings.menu.links -%}
      {%- assign parent_link_index = forloop.index | minus: 1  -%}
      {%- for child_link in parent_link.links -%}
        {%- assign child_link_index = forloop.index | minus: 1 -%}
       <div id="grandchild-menu-index-{{- parent_link_index -}}-{{- child_link_index -}}" class="grandchild-menu" style="display: none;">
            <div>
              {%- for grandchild_link in child_link.links -%}
              <a href="{{- grandchild_link.url -}}">{{- grandchild_link.title -}}</a>
              {%- endfor -%}
            </div>
          </div>       
      {%- endfor -%}
      
    {%- endfor -%}
     
  </div>
</header>
<header class="desktop-hide container ">

  {%- # for Mobile -%}
  <div class="mobile-header">
    <a class="logo" href="{{ routes.root_url}}">
      {%- if section.settings.logo != blank -%}
       {{- section.settings.logo | image_url: height: 100 | image_tag: height: 50, alt: section.settings.logo.alt | default: shop.name | escape -}}
      {%- else -%}
       <span>{{- shop.name -}}</span>
      {%- endif -%}
     </a>

    <div id="hamburger">{% render 'svg-mobile-menu' %}</div>
  </div>


  <nav id="mobile-nav-item" class="show-mobile-nav">
    <div class="mobile-shopify-icons-container">
      {%- # for Icons -%}
      <div class="shopify-icons">
        {%- # Search -%}
        <a href="/search">{% render 'svg-search' %}</a>
        {%- # Login -%}
        <a href="/login">{% render 'svg-account' %}</a>
        {%- # Cart -%}
        <a href="/cart">{% render 'svg-bag' %}</a>
      </div>
    </div>
    {% for link in section.settings.menu.links %}
    <div class="mobile-nav-first">
      <a href="">{{- link.title -}}</a>

      {% if link.links.size > 0 %}
      <div class="mobile-nav-second">
        {% for child_link in link.links %}
        <a href="">{{- child_link.title -}}</a>
        {% if child_link.links.size > 0 %}
        <div class="mobile-nav-third">

          {% for grandchild_link in child_link.links %}
          <a href="">{{- grandchild_link.title -}}</a>
          {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
      {% endif %}
    </div>

    {% endfor %}
  </nav>
</header>

{{- 'header.js' | asset_url | script_tag -}}

{% schema %}
{
  "name": "Header",
  "tag": "section",
"settings": [
{
"type": "image_picker",
"id": "logo",
"label": "Logo"
},
{
"type": "link_list",
"id": "menu",
"default": "main-menu",
"label": "Menu",
"info": "Menu-item which has child needs to have '#' instead of url"
}
]
}
{% endschema %}