{%- paginate blog.articles by section.settings.posts_per_page -%}
<div class="container">
  <h1>{{- blog.title | escape -}}</h1>
  <div class="blog-container">
    {%- # blog-card -%}
    {% for article in blog.articles %}
    <div class="blog-card" 
      {% if article.image  %} style="background: url({{- article.image | image_url: width: 1200 -}})"{% endif %}>
      <div class="blog-card-inner-border">
        <div class="posts__info">
          <div class="posts__title"><h2>{{- article.title | truncate: 30 | escape -}}</h2></div>
          <div class="posts__details">
            <div class="posts__date">{% if section.settings.show_date %}{{- article.published_at | time_tag: format: 'date' -}}{% endif %}</div>
            <div class="posts__author">{% if section.settings.show_author %}{{- article.author -}}{% endif %}</div>
          </div>
          <div class="posts__excerpt">{{- article.excerpt_or_content |strip_html | truncate: 150 -}}</div>
          <div class="posts__button"><a  class="btn" href="{{- article.url -}}">Read More...</a></div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div> {%- # blog-card end -%}
    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
</div>
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "range",
      "id": "posts_per_page",
      "default": 4,
      "min": 1,
      "max": 12,
      "step": 1,
      "label": "t:sections.main-blog.settings.posts_per_page.label"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show Date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "label",
      "default": true
    }
  ]
}
{% endschema %}
